---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-10 text-center">
        <h1 class="text-4xl font-bold mb-6">About Me</h1>
        <p class="mt-4 text-lg">
            I am a full-stack web developer with a passion for creating dynamic and responsive web applications.
        </p>
    </section>
</Layout>
