---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-10 text-center max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold mb-6">About Me</h1>
        <p class="mt-4 text-lg">
            Over 9 years of accelerating startups from seed stage to series B
            with quality full-stack code and leadership. I started taking lead
            developer responsibilities just 1 year into my first job where I
            owned a frontend project for one of the UK's largest financial
            institutions.
        </p>
    </section>
</Layout>
