---
import Layout from "../layouts/Layout.astro";
import { ContactInfo } from "../components/ContactInfo";
---

<Layout>
    <section class="py-10 px-4 sm:px-0 mx-auto max-w-max text-center">
        <ContactInfo />
    </section>
</Layout>
