---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-10 text-center">
        <h1 class="text-4xl font-bold mb-6">Contact</h1>
        <p class="mt-4">Email: joejknowles@gmail.com</p>
        <p>Phone: (+44) 7513 020 341</p>
    </section>
</Layout>
