---
import Layout from "../layouts/Layout.astro";
import { ContactInfo } from "../components/ContactInfo";
---

<Layout>
    <section class="py-10 text-center">
        <ContactInfo />
    </section>
</Layout>
