---
import Layout from "../layouts/Layout.astro";
import CV from "../components/cv/CV";
---

<Layout>
    <section class="py-10 text-center">
        <h1 class="text-4xl font-bold mb-6">Curriculum Vitae</h1>
        <CV />
    </section>
</Layout>
