---
import { AppBar } from "../components/AppBar.tsx";
import CvDownloadButton from "../components/CvDownloadButton.tsx";

const currentPath = Astro.url.pathname;
const isProduction = import.meta.env.MODE === 'production';
---

<!doctype html>
<html lang="en">
	<head>
		<title>Joe Knowles</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/png"
			href="/favicon-light.ico"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/favicon-dark.ico"
  			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/favicon-light.ico"
  			media="(prefers-color-scheme: light)"
		/>
		<meta name="generator" content={Astro.generator} />

		{isProduction && (
			<>
				<script
					async
					src="https://www.googletagmanager.com/gtag/js?id=G-PBCKZ5MYHS"
				></script>
				<script>
					// @ts-ignore
					window.dataLayer = window.dataLayer || [];
					function gtag() {
						// @ts-ignore
						dataLayer.push(arguments);
					}
					// @ts-ignore
					gtag("js", new Date());

					// @ts-ignore
					gtag("config", "G-PBCKZ5MYHS");
				</script>
				{/* <!-- Hotjar Tracking Code for Site 5288112 (name missing) --> */}
				<script>
					(function(h,o,t,j,a,r){
						// @ts-ignore
						h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
						// @ts-ignore
						h._hjSettings={hjid:5288112,hjsv:6};
						// @ts-ignore
						a=o.getElementsByTagName('head')[0];
						// @ts-ignore
						r=o.createElement('script');r.async=1;
						// @ts-ignore
						r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
						// @ts-ignore
						a.appendChild(r);
					})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
				</script>
			</>
		)}
	</head>
	<body class="relative">
		<AppBar currentPath={currentPath} />
		<div class="cv-download-wrapper hidden sm:block">
			<CvDownloadButton />
		</div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.cv-download-wrapper {
		position: fixed;
		top: 28px;
		right: 28px;
	}

	@media (max-width: 680px) {
		.cv-download-wrapper {
			right: 24px;
		}
	}
	@media (max-width: 650px) {
		.cv-download-wrapper {
			right: 16px;
		}
	}
</style>
